ExchangeClient/Connected Services/ServiceRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56513/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56513/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetExchangeRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRate" />
  </wsdl:message>
  <wsdl:message name="IService1_GetExchangeRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Convert_InputMessage">
    <wsdl:part name="parameters" element="tns:Convert" />
  </wsdl:message>
  <wsdl:message name="IService1_Convert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuyCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyCurrency" />
  </wsdl:message>
  <wsdl:message name="IService1_BuyCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SellCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:SellCurrency" />
  </wsdl:message>
  <wsdl:message name="IService1_SellCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:SellCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHistoricalRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoricalRates" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHistoricalRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoricalRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TopUp_InputMessage">
    <wsdl:part name="parameters" element="tns:TopUp" />
  </wsdl:message>
  <wsdl:message name="IService1_TopUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:TopUpResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuyForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyForUser" />
  </wsdl:message>
  <wsdl:message name="IService1_BuyForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SellForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SellForUser" />
  </wsdl:message>
  <wsdl:message name="IService1_SellForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SellForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTransactions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetExchangeRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetExchangeRate" message="tns:IService1_GetExchangeRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetExchangeRateResponse" message="tns:IService1_GetExchangeRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Convert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Convert" message="tns:IService1_Convert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConvertResponse" message="tns:IService1_Convert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuyCurrency" message="tns:IService1_BuyCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuyCurrencyResponse" message="tns:IService1_BuyCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SellCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SellCurrency" message="tns:IService1_SellCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SellCurrencyResponse" message="tns:IService1_SellCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHistoricalRates" message="tns:IService1_GetHistoricalRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHistoricalRatesResponse" message="tns:IService1_GetHistoricalRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterUser" message="tns:IService1_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterUserResponse" message="tns:IService1_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginUser" message="tns:IService1_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginUserResponse" message="tns:IService1_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TopUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TopUp" message="tns:IService1_TopUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TopUpResponse" message="tns:IService1_TopUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBalance" message="tns:IService1_GetBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBalanceResponse" message="tns:IService1_GetBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuyForUser" message="tns:IService1_BuyForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuyForUserResponse" message="tns:IService1_BuyForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SellForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SellForUser" message="tns:IService1_SellForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SellForUserResponse" message="tns:IService1_SellForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserTransactions" message="tns:IService1_GetUserTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserTransactionsResponse" message="tns:IService1_GetUserTransactions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExchangeRate">
      <soap:operation soapAction="http://tempuri.org/IService1/GetExchangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Convert">
      <soap:operation soapAction="http://tempuri.org/IService1/Convert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyCurrency">
      <soap:operation soapAction="http://tempuri.org/IService1/BuyCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellCurrency">
      <soap:operation soapAction="http://tempuri.org/IService1/SellCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalRates">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHistoricalRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TopUp">
      <soap:operation soapAction="http://tempuri.org/IService1/TopUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyForUser">
      <soap:operation soapAction="http://tempuri.org/IService1/BuyForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellForUser">
      <soap:operation soapAction="http://tempuri.org/IService1/SellForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTransactions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:56513/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>